body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*--------nav search bar*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 10px;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    margin: 0;
    height:25px;

    
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 15px;
}



/*--------------*/
.fp-banner{
 background-image: url("img/mountains-1236330_1280.jpg")
}


.view-more{
    padding-top: 10px;
    text-align: right;
    
}

.jumbotron{
    margin-bottom: 10px !important;
}


.home-board{
    
    margin-top: 10px;
    
}

.thumbnail-detail{
    position: absolute;
    text-align: center;
    display: none;
    padding: 0 15px;
    width: 350px;
    box-sizing: border-box;
    z-index: 2;
    top: 40%;

    color: white;
    
}
.page-container{
    background-color: #d1d3d6;
}

.white-background{
    background-color: white;
    
}

.thumbnail-item{
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 0 !important;
}

body{
    
    background-color: #d1d3d6;
}

.thumbnail{
    padding: 0;
    
}
.thumbnail-item{
    position:relative;
    margin-bottom: 20px;
}
.thumbnail-title{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}
.thumbnail-counts{
    font-size: 10px;
    height: 20px;
    border-bottom:1px solid #cfd6d9;
}

.thumbnail-counts a{
    color: black;
}

.thumbnail{
    margin-bottom: 0;
    
 
}

.views{
    text-align: right;
}
.display-image{
    
    background-color: black;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.display-image iframe{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.like{
    border:none;
}
.summit-comment{
    display: none;
    float: right;
}


@media(min-width:768px){
    .display-image img{
        max-width:90%;
        
        
    }
}




.display-bottom{
    height: 600px;
 
    
}

.description{
    
    
    padding: 15px;
    margin-bottom:10px;
    background-color: white;
 
}

.description-header{
    
    /*    border-bottom:1px solid #cfd6d9; */
    padding: 0;
}
.description-header div{
    
    padding-left: 0;
    padding:10px;
}

.description-header h4{
    margin-bottom: 5px;
    margin-top: 0;
}
.description-content{
    padding: 10px;
/*    border-bottom:1px solid #cfd6d9; */
    margin-bottom: 10px;
    
}


@media(max-width:767px){
    .user-detail{

        margin: 0 9px;
    }

    .space{
        padding: 0;
    }
    .stats div{
        float: left !important;
    }
    #commentbody{
        margin-left: 15px !important;
    }
}

.stats{
    padding-right: 0;
    font-size: 15px;
}
.stats div{
    float: right;
}


.comment-section{
     background-color: white;
  
}
.comment{
    padding: 5px 0;
    margin-left: 15px;
}
.comment div{
    
    padding: 5px 0;
}


.recommended-list{
    background-color: white;
    
}

#commentbody{
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 0px 1px inset;
    margin-bottom: 8px;
    min-height: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-radius: 2px;
    padding: 10px;
}





/*------LOGIN FORM----*/





.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
  padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
  font-size:20px;
  font-weight:bold;
  padding:38px 38px 0px 38px;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
  background:#f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:19px;
}
.mg-btm{
  margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}



/*----end of login form--*/

/*-------upload page--*/
.upload-contain{
    width: 50%;
}
@media(max-width:767px){
    .upload-contain{
    width: 100%;
}
    
    input[type=file]{
    
    width: auto !important;
}
    
}

input[type=file]{
    
    width: 170px;
}

.addTop{
    margin-top: 10px;
}
.uploadLogo{
    font-size:150px;
    width:170px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.uploadlabel{
    display: block;
}

/*--Dashboard----*/
.user-info{
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.user-description{
    padding-bottom: 10px;
    padding-top: 10px;
    
}

/*---user nav---*/
.user-menu{
    margin-top: 10px;
    
}
.dropdown-menu{
    
    z-index: 999999;
}