a{
  color:black !important;
  
}
body {
  padding-top: 50px;
  font-family: 'Oxygen', sans-serif;
}

.navbar-inverse{
  background-color: white !important;
  color: black;
}
.navbar-inverse .navbar-brand{
  color: #003569 !important;
}
.navbar-inverse .navbar-nav>li>a{
  color: black;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: lightgrey !important;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-inverse .navbar-toggle .icon-bar{
 background-color:black!important;
}

/*--------nav search bar*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 10px;
}

#navbar > div{
  float: left;
  
  
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    margin: 0;
    height:25px;

    
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
    float: right
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 15px;
}



/*--------------*/

.nav li{
    font-weight: 200;
    
}
.fp-banner{
 background-image: url("img/mountains-1236330_1280.jpg")
}


.view-more{
    padding-top: 10px;
    text-align: right;
    
}

.jumbotron{
    margin-bottom: 10px !important;
}


.home-board{
    
    margin-top: 10px;
  background-color: white;
  
    
}

.thumbnail-detail{
    position: absolute;
    text-align: center;
    display: none;
    padding: 0 15px;
    width: 330px;
    box-sizing: border-box;
    z-index: 2;
    top: 40%;
    height: 40%;
    color: white;
    
}
.page-container{
    background-color: #f2f2f2;
}

.white-background{
    background-color: white;
    z-index: 0;
}

.thumbnail-item{
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 0 !important;
}

body{
    
    background-color: #f2f2f2;
}

.thumbnail{
    padding: 0;
    
}
.thumbnail-item{
    position:relative;
    margin-bottom: 20px;
}
.thumbnail-title{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}
.thumbnail-counts{
    font-size: 10px;
    height: 20px;
    border-bottom:1px solid #cfd6d9;
}

.thumbnail-counts a{
    color: black;
}

.thumbnail{
    margin-bottom: 0;
    
 
}

.views{
    text-align: right;
}
.display-image{
    
    background-color: black;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.display-image iframe{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.like{
    border:none;
}
.summit-comment{
    display: none;
    float: right;
}


@media(min-width:768px){
    .display-image img{
        max-width:90%;
        
        
    }
}




.display-bottom{
    height: 600px;
 
    
}

.description{
    
    
    padding: 15px;
    margin-bottom:10px;
    background-color: white;
 
}

.description-header{
    
    /*    border-bottom:1px solid #cfd6d9; */
    padding: 0;
}
.description-header div{
    
    padding-left: 0;

}

.description-header h4{
    margin-bottom: 5px;
    margin-top: 0;
}
.description-content{
    padding: 10px;
/*    border-bottom:1px solid #cfd6d9; */
    margin-bottom: 10px;
    
}


@media(max-width:767px){
    .user-detail{

        margin: 0 9px;
    }

    .space{
        padding: 0;
    }
    .stats div{
        float: left !important;
    }
    #commentbody{
        margin-left: 15px !important;
    }
}

.stats{
    padding-right: 0;
    font-size: 15px;
}
.stats div{
    text-align: right;
  float:right;
}


.comment-section{
     background-color: white;
  
}
.comment{
    padding: 5px 0;
    margin-left: 15px;
}
.comment div{
    
    padding: 5px 0;
}


.recommended-list{
    background-color: white;
    
}

#commentbody{
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 0px 1px inset;
    margin-bottom: 8px;
    min-height: 28px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-radius: 2px;
    padding: 10px;
}





/*------LOGIN FORM----*/





.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
  padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
  font-size:20px;
  font-weight:bold;
  padding:38px 38px 0px 38px;
  
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
  background:#f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:19px;
}
.mg-btm{
  margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}



/*----end of login form--*/

/*-------upload page--*/
.upload-contain{
    width: 50%;
}
@media(max-width:767px){
    .upload-contain{
    width: 100%;
}
    
    input[type=file]{
    
    width: auto !important;
}
    
}

input[type=file]{
    
    width: 170px;
}

.addTop{
    margin-top: 10px;
}
.uploadLogo{
    font-size:150px;
    width:170px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.uploadlabel{
    display: block;
}

/*--Dashboard----*/
.user-info{
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.user-description{
    padding-bottom: 10px;
    padding-top: 10px;
    
}
.delete{
    float: right;
    bottom: 0;
}

.user-name{
  text-align: center;
}

.thumbnail-dash{
    font-size: 10px;
    height: 30px;
    border-bottom:1px solid #cfd6d9;
}

.thumbnail-dash li>form{
  margin-left: 20px;
}

.thumbnail-dash li>form:hover , .thumbnail-dash li>form:focus{
    background-color:#f2f2f2;
}





.thumbnail-dash .btn-primary:hover, .thumbnail-dash .btn-primary:focus, .thumbnail-dash .btn-primary:active, .thumbnail-dash .btn-primary.active, .thumbnail-dash .open>.dropdown-toggle.btn-primary {
    color: black !important;
    
    border-color: grey !important; /*set the color you want here*/
}


.thumbnail-dash li>a:hover , .thumbnail-dash li>a:focus{
    background-color:#f2f2f2;
}



.dash-dropdown{
  width: 100%;
  background-color: #f8f8f8 !important;
  border-color: #d3d3d3 !important;
  color: black;
}
/*---user nav---*/
.user-menu{
    margin-top: 10px;
    background-color: white;
    border: none;
    
}
.user-menu:hover {
   background-color: lightgrey !important;
    border-color: black !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
  background-color: lightgrey !important;
    border-color: black !important;
  
}

.dropdown-menu{
    
    z-index: 999999;
}

/*----sucess-----*/

.success{
    border: solid 2px green;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 20px; 
    background: white;
        
}

.success span{
    color: green;
    font-size: 50px;
    display: inline-block;
    
}
.success h2{
    display: inline-block;
    color: green;
    margin-left: 10px;
    margin-top: 0;
}
    
/*------error----------*/

.error{
    border: solid 2px red;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 20px; 
    background: white;
        
}

.error span{
    color: red;
    font-size: 50px;
    display: inline-block;
    
}
.error h2{
    display: inline-block;
    color: red;
    margin-left: 10px;
    margin-top: 0;
}

/*--------------*/


.thumbnail-hover{
  
  color: white !important;
}





/*----------slider-------------*/
.carouseller:before, .carouseller:after {  content: " ";  display: table;}
.carouseller:after { clear: both;}

.carouseller [class*="span"]{
    margin-left: 0.2564102564102564% !important;
    *margin-left: 0.25109110747408616% !important;
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.carouseller [class*="span"]:first-child, .carouseller [class*="span"]:first-child  {
    margin-left: 0 !important;
}

.carouseller > .carousel-wrapper > .carousel-items > .span_by5 { width: 1.793789743589745%;}
.carouseller > .carousel-wrapper > .carousel-items > .span12 { width: 10%;}
.carouseller > .carousel-wrapper > .carousel-items > .span6 { width: 4.8837948717948715%;}
.carouseller > .carousel-wrapper > .carousel-items > .span4 { width: 3.1703931623931625%;}
.carouseller > .carousel-wrapper > .carousel-items > .span3 { width: 2.3136923076923077%;}
.carouseller > .carousel-wrapper > .carousel-items > .span2 { width: 1.452991452991453%;}
.carouseller > .carousel-wrapper > .carousel-items > .span1 { width: 0.5982905982905983%;}

/*------Carouseller--------*/
.carouseller { position: relative;}
.carouseller .carousel-items { position: relative; width: 997.4358974358974%;}
.carouseller .carousel-block { display: inline-block; position: relative;}
.carouseller .carousel-block:nth-child(n+7) { display: none;}
.carouseller .carousel-wrapper { overflow: hidden; position: relative; margin: 0 auto; width: 70%;}

@media(min-width:768px){
  .carouseller .carousel-wrapper { width: 90%;}

}


.carouseller .carousel-button-left, .carouseller .carousel-button-right {
  position: absolute; margin: 0; bottom: 65px;
    background: none repeat scroll 0 0 transparent;
    font-size: 80px;
    opacity: 0.5;
    text-align: center;
  color: #000;
  text-decoration: none;
}
.carouseller .carousel-button-left { left: 0;}
.carouseller .carousel-button-right { right: 0;}
.carouseller .carousel-button-left:hover, .carouseller .carousel-button-right:hover { opacity: 0.8;}
.carousel-block { text-align: center;}

/*------Responsive-----------*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  .carouseller > .carousel-wrapper > .carousel-items > .span_by5,
  .carouseller > .carousel-wrapper > .carousel-items > .span12,
  .carouseller > .carousel-wrapper > .carousel-items > .span6,
  .carouseller > .carousel-wrapper > .carousel-items > .span4,
  .carouseller > .carousel-wrapper > .carousel-items > .span3,
  .carouseller > .carousel-wrapper > .carousel-items > .span2,
  .carouseller > .carousel-wrapper > .carousel-items > .span1 { width: 3.1623931623931625%; *width: 3.1570740134569924%;}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .carouseller > .carousel-wrapper > .carousel-items > .span_by5,
  .carouseller > .carousel-wrapper > .carousel-items > .span12,
  .carouseller > .carousel-wrapper > .carousel-items > .span6,
  .carouseller > .carousel-wrapper > .carousel-items > .span4,
  .carouseller > .carousel-wrapper > .carousel-items > .span3,
  .carouseller > .carousel-wrapper > .carousel-items > .span2,
  .carouseller > .carousel-wrapper > .carousel-items > .span1 { width: 4.8717948717948715%; *width: 4.8664757228587014%;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .carouseller > .carousel-wrapper > .carousel-items > .span_by5,
  .carouseller > .carousel-wrapper > .carousel-items > .span12,
  .carouseller > .carousel-wrapper > .carousel-items > .span6,
  .carouseller > .carousel-wrapper > .carousel-items > .span4,
  .carouseller > .carousel-wrapper > .carousel-items > .span3,
  .carouseller > .carousel-wrapper > .carousel-items > .span2,
  .carouseller > .carousel-wrapper > .carousel-items > .span1 { width: 10%; *width: 9.94680851063829%;}
}

/* This can be deleted */

.carousel-block { text-align: center; }
h1 {font-size: 40px; margin-bottom: 30px;}
.carouseller { margin-bottom: 20px;}
/*slider end*/

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff !important;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff!important;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff!important;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff!important;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}


.fb-share{
  border: 1px solid transparent;
}


.embed{
    background-color: white;
    border-color: #d3d3d3 !important;
    border: 1px solid transparent;
}

.delete-img{
   border-color: #d3d3d3 !important;
   border: 1px solid transparent;
   background-color: #d9534f;
}

.page-views{
  margin-top: 10px;
  
}

@media(max-width:767px){
  .dropdown-menu{
    display: block !important;
    
  } 
 .navbar-right{
    margin-bottom: 120px;
  }
  
  .navbar-right a{
    background-color: white;
    border: none;
    
  }
  .navbar-right ul{
    border: none;
  }
  
  .stats div{
    text-align: left;
    
  }

}

.story-wrapper{
  
      border-bottom: 1px solid #cfd6d9;

}

td{
  padding: 0 !important;
}

tr{
  border: solid 2px #E4E4E4;
  border-radius: 6px;

}

tr:hover{
  border: solid 2px black;
  
}



#embed > div > form > div > table > tbody > tr > td.col-lg-6.col-xs-8 > div > div > div.thumbnail-counts{
  
  border:none;
  height: 0 ;
}

.create-detail{
  margin-bottom: 15px;
}
.create-button{
  margin-top: 15px;
}